.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  margin-bottom: 4rem;

  .contactTitle {

    margin: 2rem;

    h1 {
      font-size: 4rem;
      font-weight: bold;
      text-align: center;
    }

    p {
      font-size: 1rem;
    }
  }

  .contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;

    @media screen and (max-width: 688px) {
        flex-direction: column-reverse;
    }

    .formContainer {
      height: 100%;
      padding: 1rem;
      border-radius: 16px;
      box-shadow:
        0 8px 18px rgba(0, 0, 0, .22),
        0 22px 48px rgba(0, 0, 0, .26),
        0 60px 120px -16px rgba(0, 0, 0, .28);

      .formTitle {
        margin-bottom: 2rem;

        h2 {
          font-size: 2rem;
        }
      }
    }

    .contactInfos {

      h2 {
        margin-bottom: 3rem;
      }

      .infosList {
        display: flex;
        flex-direction: column;
        gap: 20;
        margin-left: 1rem;
        margin-bottom: 3rem;

        .infosItem {
          display: flex;
          gap: 10;
          align-items: center;

          .infos {
            color: #5e17eb;
            font-weight: bold;
          }
        }
      }
    }
  }

  .actions {
    display: flex;
    gap: 20;

    a {
      background-color: #5e17eb;
      padding: 1rem;
      color: white;
      border-radius: 16px;
    }
  }

}