.legal {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    overflow: clip;
}

.wrap {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: grid;
}

.lawLogo {
    width: clamp(120px, 50vmin, 720px);
    height: clamp(120px, 50vmin, 720px);
    color: #5e17eb2f;
    filter: drop-shadow(0 0 2rem rgba(0, 0, 0, .15));
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.subtitle {
    margin-top: 1rem;
    text-align: left;
}

.text {
    margin-left: 1rem;
    text-align: justify;
}