.expertises {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;

    h2 {
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .expertisesListContainer {
        display: flex;

        .expertiseCard {
            display: flex;
            flex-direction: column;
            border: 1px solid white;

            .expertiseTitle {
                display: flex;
                margin: 2rem;

                h3 {
                    font-weight: bold;
                    font-size: 2rem;

                    .underline {
                        background-color: transparent;
                        background-image: linear-gradient(transparent 60%, var(--underline-color, #fa84e2) 60%);
                        background-repeat: no-repeat;
                        background-size: 100% 0.8em;
                        background-position: 0 90%;
                        transition: background-size 0.25s ease-in;

                        &:hover {
                            background-size: 100% 150%;
                        }
                    }
                }
            }

            .expertiseText {
                display: flex;
                flex-direction: column;
                margin: 2rem;
            }
        }
    }
}

@media screen and (max-width: 392px) {
    .expertises {
        padding: 0;
    }
}

@media screen and (max-width: 1062px) {
    .expertisesListContainer {
        flex-direction: column;
        margin: 0;
    }
}